.image {
  width: 300px;
  height: 250px;
  background: #ddd;
  border-radius: 12px 12px 0 0;
}
.user_items {
  text-align: center;
}
.user {
  padding: 16px;
  cursor: pointer;
  transition: 0.2s ease-out;
  border: 1px solid #888;
  border-radius: 12px;
}
.user_items h2 {
  padding-bottom: 24px;
}
.user h3,
.user p {
  width: 300px;
  padding: 8px 0;
}
.users {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  flex-wrap: wrap;
}
.user:hover {
  transform: scale(1.04);
}
